<div class="col">
    <div class="text-center">
        <div class="container mt-6">
            <div class="weather-card-row row justify-content-center">
                <div class="weather-card-col">
                    <div class="weather-card loading card text-white bg-dark shadow-lg js-weather-card">
                        <div class="js-weather-card__into weather-card__into_button">

                        </div>
                        <div class="weather-card__loading js-weather-card__loading"></div>
                        <div class="weather-card__load js-weather-card__load"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>