@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-2">
        <div class="js-weather-hour">
            Loading...
        </div>
    </div>
    <div class="col-10">
        <div class="text-center">
            <div class="container mt-6">
                <div class="weather-card-row row justify-content-center">
                    <div class="weather-card-col col-md-4">
                        <div class="weather-card reload card text-white bg-dark shadow-lg js-weather-card">
                            <div class="js-weather-card__into_button weather-card__into_button">
                                <button type="button" data-error="Выполнить запрос повторно" class="weather-card__btn btn btn-info js-weather-card__btn">Получить погоду на сегодня</button>
                            </div>
                            <div class="weather-card__loading js-weather-card__loading"></div>
                            <div class="weather-card__load js-weather-card__load"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-wrapp">
            <div class="text-center">
                <button type="button" data-error="Выполнить запрос повторно"
                        class="weather-card__btn_forecast weather-card__btn btn btn-info js-weather-card__btn_forecast">
                    Получить прогноз погоды на 3 дня
                </button>
            </div>
            <div class="row js-load-forecast_target" style="display:none;">
                <partial name="~/Views/Shared/_ForecastItem.cshtml" />
                <partial name="~/Views/Shared/_ForecastItem.cshtml" />
                <partial name="~/Views/Shared/_ForecastItem.cshtml" />
            </div>
        </div>
        
    </div>
</div>

